torch==1.13.1
twine==4.0.2
pytest==7.2.1
pytest-cov==4.0.0
pytest-sugar==0.9.6
coveralls==3.3.1
ase==3.22.1
git+https://github.com/atomistic-machine-learning/schnetpack.git@f2cf162b2b2810a850a5856e46a18b61822515ee
mistune==0.8.4
sphinx==4.4.0
sphinx-rtd-theme==1.0.0
m2r2==0.3.2
