pip==21.0.1
wheel==0.36.2
black==20.8b1
flake8==3.8.4
numpy==1.20.1
torch==1.7.1
torchvision==0.8.2
twine==3.3.0
pytest==6.2.2
pytest-cov==2.11.1
pytest-sugar==0.9.4
coveralls==3.0.0
ase==3.20.1
git+https://github.com/atomistic-machine-learning/schnetpack.git
sphinx==3.5.2
sphinx-rtd-theme==0.5.1
git+https://github.com/crossnox/m2r@dev#egg=m2r
